.catCard {
    width: 252px;
    height: 344px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    margin-top: 0px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(210, 210, 210); /* Light gradient for a clean look */
    /* text-decoration: none;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 30px;  */
}
.catCard:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

/* .catcardImg {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #e7dddd;
} */

.catcardImg{
    opacity: 0.8;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catCard .desc {
    font-weight: 700;
    position: absolute;
    top: 15px;
    left: 15px;
    
    /* margin-top: 20px;
    color: #272626; 
    font-size: 16px;
    text-align: center; */
}

.catCard .title {
    position: absolute;
    top: 45px;
    left: 15px;

    font-weight: 800;
    font-size: 26px;
   
}

@media screen and (max-width: 1000px) {
    .catCard {
        width: 25vw;
        height: 300px;
    }

    .cardImg {
        height: 60%;
    }

    .catCard .desc {
        font-size: 14px;
    }

    .catCard .title {
        font-size: 18px;
    }
}
