.myGigs{
    display: flex;
    justify-content: center;
}
.myGigs .myGigscontainer{
    width:85vw;
    padding: 50px 0;
}
.myGigs .myGigscontainer .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 20px;

}
.myGigscontainer .title button{
    background-color: #1dbf73; /* Fiverr green */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;

}
.myGigscontainer .title button:hover {
    background-color: #17a863; /* Slightly darker green on hover */
    box-shadow: 0 5px 15px rgba(29, 191, 115, 0.4);
  }
.myGigs .myGigscontainer table{
    width: 80%;
    border-collapse: collapse;
    margin:20px 90px;
    
}



/* .myGigs .myGigscontainer table th,td{
    border: 1px solid lightblue;
    padding: 8px;
    text-align: center;
} */
.myGigs .myGigscontainer table,
.myGigs .myGigscontainer table th,
.myGigs .myGigscontainer table td {
    border: 2px solid rgb(213, 218, 220);
    text-align: center;
}

.myGigscontainer table tr{
    height: 50px;
}

.myGigscontainer table tr td img{
    width: 50px;
    height: 25px;
    object-fit: cover;
}
.deleteimg{
    width: 25px;
    height: 25px;
    cursor: pointer;
    fill:red;
}
.deleteimg :hover{
    transform: scale(1.03)
}
/* tr:nth-child(even){
    background-color: rgb(141, 216, 240);
}
tr:nth-child(odd){
    background-color: rgb(95, 215, 175);
} */