.footer{
    /* width:100vw;
    height:600px;
    display:flex; */
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.footerContainer{
    width: 76vw;
    height:80%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
    gap:50px;
    flex-wrap: wrap;
}
.gigsHr{
    width: 100%;
    height: 1px;
    background-color: #3a3a3a;  /* Slightly lighter shade than the background */
    border: none;
}
.footerContainer .item{
    display:flex;
    font-size: 16px;
    flex-direction: column;
    gap: 20px;
    margin:50px 70px;
}
@media screen and (max-width: 1000px) {
    .footer{
        width:100vw;
        height:800px;
        display:flex;
    }
    .footerContainer{
        background-color: #3a3a3a;  /* Slightly lighter shade than the background */
        width: 100%;
        height:100%;
        display: flex;
        gap:5px;
        border-radius: 40px;
        margin-left: 40px;
    }
    .footerContainer .item{
        display:flex;
        flex-direction: column;
        gap: 10px;
        margin-top:50px;
        margin-left: 20px;
    }
    .item h2{
        font-size: 16px;
    }
    .item span{
        font-size: 12px;
    }
}