.add{
    display: flex;
    justify-content: center;
    color: #1b1b1c; /* Neutral Fiverr color */
    align-items: center;

}

.addContainer{
    width:1200px;
    padding:30px 20px;
    border-radius: 10px;
    position: relative;

}
.addContainer h1{
    width: max-content;
    color: #1b1b1c; /* Neutral Fiverr color */
    font-weight: 300;
    margin-bottom: 20px;
}
.addContainer .sections{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.addContainer .sections .left,.right{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
}

.addContainer .section .right{
    gap:1rem;
}
.section .left label, .sections .left label {
    color: #1b1b1c; /* Neutral Fiverr color */
    font-size: 18px;
}
 .section .left label, .sections .right label {
    color: #1b1b1c; /* Neutral Fiverr color */
    font-size: 18px;
}

.addContainer .sections .left input,

.addContainer .sections .left textarea,
.addContainer .sections .right input,

.addContainer .sections .right textarea{
    padding: 20px;
    background-color: transparent;
    border: 1px solid #504f4f;
    border-radius: 10px;
    outline: none;
    color: #1b1b1c; /* Neutral Fiverr color */
}


.addContainer .sections .left select{
    padding: 1.3rem;
    background-color: transparent;
    border: 1px solid #504f4f;
    border-radius: 10px;
    outline: none;
    color: #1b1b1c; /* Neutral Fiverr color */
    
}
.addContainer .sections .left select option{
    position: absolute;
    top: 20%
}



.addContainer .sections .right textarea {
    width: 100%;
    height: auto;
    resize: vertical;
    min-height:3rem; 
}
.sections .left button{
    background-color: #18a965; /* Fiverr green */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}
.sections .left button:hover {
    background-color: #0b7743; /* Slightly darker green on hover */
    box-shadow: 0 5px 15px rgba(29, 191, 115, 0.4);
  }

.sections .right form .add{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sections .right form input{
    width: 90%;
    height: 50px;
}
.sections .right .add button{
    background-color: #18a965; /* Fiverr green */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}
.sections .right .add button:hover {
    background-color: #0b7743; /* Slightly darker green on hover */
    box-shadow: 0 5px 15px rgba(29, 191, 115, 0.4);
  }

.imagesinput{
    display: flex;
    gap: 50px;
    border: 1px solid #504f4f;
    border-radius: 10px;
    padding: 1rem 1rem;
    align-items: center;
}

.imagesinput .inputImages{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.imagesinput button{
    background-color: red;
    color: white;
    width: 100px;
    height: 100px;
    font-size: 16px;
    padding: 1rem 1rem;
    border-radius: 8px 20px;
    cursor: pointer;
    border: none;
    outline: none;
    margin-left: 10px;  
}

.addedFeatures{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.addedFeatures button{
    background-color: transparent;
    color: #1b1b1c;
    width: max-content;
    height: 50px;
    font-size: 16px;
    padding: 1rem 1rem;
    border: 2px solid #504f4f;
    border-radius: 8px 20px;
    cursor: pointer;
    outline: none;
    margin-left: 10px;  
    display: flex;
    align-items: center;
    gap: 20px;
}
.imagesinput .imageAddss{
    background-color: #242424; /* Fiverr green */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}