.reviews{
    margin-top: 50px;
}
.reviews{
    background-color: #101010;
    padding: 20px 30px;
    border-radius: 20px ;
}
.add{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white
}
.add .addForm{
    display: flex;
    gap: 20px;
}
.add .addForm input{
    padding: 20px;
    width: 60%;
    border: 2px solid gray;
    border-radius: 10px;;
}
.add .addForm .select{
    width: 200px;
    padding: 20px;
    align-self: flex-end;
    color: white;
    background-color: transparent;
    border: 2px solid gray;
    border-radius: 10px;;
}
.add .addForm .select option{
    color:black;
    border: 2px solid aqua;

}
.add .addForm button {
    background-color: #1dbf73; /* Fiverr green */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
  }
  
  .add .addForm button:hover {
    background-color: #17a863; /* Slightly darker green on hover */
    box-shadow: 0 5px 15px rgba(29, 191, 115, 0.4);
  }
  